@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-top-padding: 90px;
}

body {
  height: 100vh;
  padding-top: var(--body-top-padding);
}

.next-section {
  width: 100%;
  padding-block: 80px;
}

.next-container {
  width: 100%;
  height: 100%;
  max-width: 1220px;
  margin: auto;
  padding-inline: 16px;
}

.next-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navbar */
.next-section.header {
  height: 100px;
  padding-block: 12px;
  position: fixed;
  top: 0;
}

.next-wrapper.flex-row {
  flex-direction: row;
  justify-content: space-between;
}

.next-wrapper.bg-color {
  background: #212121;
  color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.navbar-logo-ctn {
  padding-inline: 12px;
}

.navbar-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.navbar-menu-ctn {
  padding-inline: 12px;
}

.navbar-menu-ctn ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-menu-ctn ul li {
  padding: 8px 16px;
  position: relative;
  transition: all 0.3s ease;
}

.navbar-menu-ctn ul li::before {
  content: '';
  width: 0px;
  height: 1px;
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  transition: all 0.3s ease;
}

.navbar-menu-ctn ul li.current-page::before {
  width: calc(100% - 32px);
}

.navbar-menu-ctn ul li:hover::before {
  width: calc(100% - 32px);
}
